<!DOCTYPE html>
<html>
    <head>
        <title>IP Cam</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
